*, *:before, *:after { 
    box-sizing: border-box; 
}
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(83, 215, 233), rgb(23, 47, 184));
    font-family: sans-serif;
    color:white;
}

html body > div {
    flex: 1;
  }

footer {
    width: 100%;
    text-align: center;
}

.today {
    display:flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 2rem 2rem 0 2rem;
}

.today-icon {
    padding-top: 10px;
}

.location {
    flex-grow: 1;
}

.temp-section {
    display: flex;
    flex-direction: row;
}
.temp-degree-section {
    display: flex;
    flex-direction: row;
}

.today-info-item P, .today-info-item div{
    display: inline-block;

}

h2.temp-degree, h2.fahrenheit {
    padding-top: 2rem;
    /* flex-direction: column; */
}

span.fahrenheit {
    font-size: .7em;
    vertical-align: top;
}
h3.timezone {
    margin-top: .5rem;
}

.degree-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    cursor: pointer;
    margin-left: 1rem;
}

.degree-section span{
    padding-top: 2rem;
    font-size: 1em;

}
.degree-section h2 {
    font-size: 40px;
}
.daily-high-degree, .daily-low-degree, .daily-range {
    font-size: 20px;
  }

.today-info {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin: 0;
    max-width: none;
    padding: 0 2rem 2rem 2rem;
    /* padding: 4rem; */
}

article.grid-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #464648;
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem 0;
}

article > .daily-icon {
    /* order: -1; */
    font-size: 5rem;
}
.grid-item > h1 {
    margin: 1rem 1rem 0;
}

.grid-item > p {
    margin: .25em 1rem 1rem;
}

.grid-item > ul {
    margin: 0 0 1rem;
    text-align: left;
}

article h2, .daily-icon, .daily-range-degree {
    margin-bottom: 1rem;
}
.daily-range {
    margin-bottom: .5rem;
}

.daily-percip-icon, .daily-percip-percent, 
.daily-range-degree, .daily-high-degree, 
.daily-low-degree, .daily-high, .daily-low {
    display: inline-block;
}

.daily-low, .daily-low-degree {
    margin-left: 15px;
}

div.today-info p {
    display: inline-block;
}

div.footer {
    margin-top: auto;
    position: absolute;
    bottom: 0;
}